.Input {
  display: block;
  margin-left: 20px;
}

.Input input[type="number"] {
  width: 60px;
}

.Input input[type="color"], 
.Input input[type="radio"] {
  cursor: pointer;
}

.Input input {
  margin: 5px;
  background-color: rgb(34, 41, 51);
  color: white;
  border: none;
  font-size: 15px;
}