.InputConatiner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.InputConatiner h3 {
  text-align: center;
}

.InputConatiner button {
  width: 50%;
  align-self: center;
  background-color: green;
  border: none;
  margin: 5px;
  padding: 10px;
  font-size: 20px;
  color: white
}
