.Home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background:linear-gradient(rgb(0, 0, 0) , rgb(116, 118, 133));
  min-height: 100vh;
  color: white;
}

.Home h1, h2 {
  margin: 10px;
}

.Home p {
  margin: 10px 0 20px;
}

.Home ul {
  display: flex;
  flex-direction: column;
}

.Home li {
  list-style:decimal;
}

