.App .NavSet {
  display: flex;
  background:linear-gradient( rgb(0, 0, 0) , rgb(26, 26, 32));
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  width: 80vw; 
  height: 40px;
}


.NavSet ul {
  display: flex;
  align-items: center;  
}

.NavSet li {
  list-style: none;
  padding: 5px 20px;
}

.NavSet a {
  color: white;
  text-decoration: none;
}

.NavSet a:visited {
  color: white;
}