.CodePage {
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: center;
  height: 100%;
  background:linear-gradient(rgb(0, 0, 0) , rgb(116, 118, 133));
  color: white;
}

.CodePage h2{
  margin: 0;
  text-align: center;
  padding: 20px;
}

.copy-button {
  display: block;
  position: relative;
}

.language-javascript {
  text-align: start;
}

.code {
  width: 80%;
  margin: 40px;
  display: block;
  text-align: start;
  font-size: 15px;
}