.CodePage {
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: center;
  height: 100%;
  background:linear-gradient(rgb(0, 0, 0) , rgb(116, 118, 133));
  color: white;
}

.CodePage h2{
  margin: 0;
  text-align: center;
  padding: 20px;
}

.App .copy-button {
  display: block;
  position: relative;
  margin: 0;
  font-size: 15px;
  padding: 5px 10px;
  background-color: rgb(115, 165, 189);
  color: rgb(11, 4, 112);
}

.language-javascript {
  text-align: start;
  line-height: 1.7;
}

.code {
  width: 80%;
  margin: 40px;
  display: block;
  text-align: start;
  font-size: 15px;
}

.copied {
  background-color: rgba(108, 184, 255, 0.8);
  color: rgb(11, 4, 112);
  position: fixed;
  top: 0;
  padding: 20px;
}

.copied span{
  margin: 5px;
}