* {
  margin: 0;
}


html, body {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color  : #ccc; 

}

body {
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
}  

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 20px;
}


.App nav {
  display: flex;
  background-color: rgb(0, 0, 0);
  justify-content: space-around;
  width: 100%; 
  min-height: 10vh;
  align-items: center;
}

.App main {
  display: flex;
  width: 100%;
  min-height: 90vh;
  background-color: #ccc;
} 
.App ul {
  display: flex; 
  height: 10%; 
}

.App li {
  list-style: none;
  padding: 15px 20px;
}

.App a {
  color: white;
  text-decoration: none;
}

.App a:visited {
  color: white;
}

.App button {
  align-self: center;
  background-color: green;
  border: none;
  margin: 5px;
  padding: 10px;
  font-size: 20px;
  color: white
}

